html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view th {*/
    /*white-space: nowrap;*/
/*}*/

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#logo-logo{
    margin-left: 50px;
}

.btn-grid-action-column {
    width:90px !important;
    margin-top:5px !important;
}

/* HOOK */
/* kv-grid.css */
.kv-grid-container {
    overflow-x: inherit !important;
}

/*
 grid order colors
*/
.color-tan td {
    background-color: #FFA54F !important;
}

.color-orange td {
    background-color: #FFA500 !important;
}

.color-khaki td {
    background-color: #FFF68F !important;
}

.color-dark-olive-green td {
    background-color: #CAFF70 !important;
}

.color-light-sky-blue td {
    background-color: #87CEFA !important;
}

.color-dodger-blue td {
    background-color: #1E90FF !important;
}

.color-light-yellow td {
    background-color: #FFFFE0 !important;
}

.color-pale-green td {
    background-color: #98FB98 !important;
}

.color-indian-red td {
    background-color: #FF6A6A !important;
}

.color-slate-gray td {
    background-color: #C6E2FF !important;
}
.color-violet td {
    background-color: #EE82EE !important;
}